@import url("https://use.typekit.net/amn5wlw.css");

h1, h2{
  font-family: rig-solid-bold-reverse, sans-serif;
}

h1{
  font-size: 60px;
  color: #263662;
  border-radius: 50px;
  text-align: center;
  padding-top: 10px
}

h2{
  font-size: 40px;
}

h3{
  text-align: center; 
}

body{
  margin: 0px;
  font-family: 'roboto';
  font-size: 20px;
  background-color : #fff089;
}

section, img{
  border: 1px solid;
  min-height: 100px;
  min-width: 100px;
}

section{
  padding: 50px;
}

.card-p{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px
}

.card-p-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-p img{
  width: 100%;
  height: 410px;
  object-fit: cover;
}

.card2{
  width: 47%;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px
}

.card2-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card2 img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card3{
  width: 100%;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px
}

.card3 img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}


#hero{
  background-image: url("https://wallpaper.dog/large/17167897.gif");
  background-size: cover;
  background-position: center;
}

.btn{
  color: #263662;
  background-color: #fff089;
  text-decoration: none;
  padding: 6px 20px;
  border-radius: 4px;
  font-family: "amatic SC";
  cursor: pointer;
  font-size : 23px;
  text-shadow: 0.2px 0.3px 0.5px #263662
}

.bloc-btn{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin: px;
}
