@import url("https://use.typekit.net/amn5wlw.css");

h2{
  font-family: roboto, sans serif;
  font-size: 25px;
  text-align: center;
}

h1{
  font-family: rig-solid-bold-reverse, sans-serif;
  font-size: 50px;
  color: #263662;
  text-align: center;
}

body{
  margin: 0px;
  font-family: 'roboto';
  font-size: 20px;
  background-color : #fff089;
}

.cv{
  display: flex;
  justify-content: center;
  margin: 5px;
  width: 400px;
  height: 700px;
}

.btn{
  color: #fff089;
  background-color: #263662;
  text-decoration: none;
  padding: 6px 20px;
  border-radius: 4px;
  font-family: "roboto";
  cursor: pointer;
  font-size : 23px;
  text-shadow: 0.2px 0.3px 0.5px #263662;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
}

.bloc-btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3px;
}
